<header class="top-page-header">
  <div class="header-name">
   <p class="title">仮タイトル</p>
  </div>
  <div class="top-header-lists">
   <ul class="lists">
    <li><%= link_to 'ホーム', top_page_index_path, class:"header-btn" %></li>
    <li><%= link_to '経歴', history_top_page_index_path, class:"header-btn" %></li>
    <li><%= link_to '制作物', product_top_page_index_path, class:"header-btn" %></li>
   </ul>
  </div>
</header>