<header class="top-page-header">
  <div class="header-name">
   <p class="title">Naoki Koseki</p>
  </div>
  <div class="top-header-lists">
   <ul class="lists">
    <li><%= link_to 'HOME', top_page_index_path, class:"header-btn" %></li>
    <li><%= link_to 'ABOUT', history_top_page_index_path, class:"header-btn" %></li>
    <li><%= link_to 'WORKS', product_top_page_index_path, class:"header-btn" %></li>
   </ul>
  </div>
</header>