<div class="history">
 <%= render 'header' %>

 <div class="history-main">
  <div class="my-image">
   <%= image_tag asset_path('my_image3.jpeg'), class:"my-img"%>
  </div>
  <div class="history-contents">
   <div class="histrory-content"><h3>2016年3月 兵庫県立夢野台高校 卒業</h3></div>
   <div class="histrory-content"><h3>2016年4月 同志社大学 経済学部 入学</h3></div>
   <div class="histrory-content"><h3>2020年3月 同志社大学 経済学部 卒業</h3></div>
   <div class="histrory-content"><h3>2020年4月 大手生命保険会社 入社</h3></div>
   <div class="histrory-content"><h3>2020年7月 IT業界への転職を決意し退社</h3></div>
   <div class="histrory-content"><h3>2020年8月 プログラミングスクール テックキャンプ 入学</h3></div>
   <div class="histrory-content"><h3>2020年10月 テックキャンプ卒業</h3></div>
  </div>
 </div>
</div>