<div class="top-page">
 <header class="top-page-header">
  <div class="header-name">
   <p class="title">仮タイトル</p>
  </div>
  <div class="top-header-lists">
   <ul class="lists">
    <li class="header-btn">ホーム</li>
    <li class="header-btn">経歴</li>
    <li class="header-btn">制作物</li>
   </ul>
  </div>
 </header>

 <div class="top-main">
  <div class="main-message">
   <h1>お越しくださり誠にありがとうございます</h1>
  </div>
 </div>
</div>