<div class="products">
 <%= render 'header' %>

 <div class="products-main">
  <div class="product1">
   <p>今ご覧のWebサイト</p>
   <%= image_tag "sample1.jpeg", class:"img" %>
  </div>
  <div class="product2">
   <p>オリジナルアプリケーション</p>
   <p><%= link_to '詳細はこちら', 'http://54.199.89.104/', target:"_blank" %></p>
   <%= image_tag "sample5.jpeg", class:"img" %>
  </div>
 </div>
</div>