.top-page{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  height: 100vh;
  width: 100vw;
  background-image: url("sample6.jpg");
  background-size: 100vw, 100vh;
  animation-name:     my-fade-in;
  animation-duration: 2s;
}
@keyframes my-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* ヘッダー部分 */
.top-page-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 100vw;
}
.title{
  width: 13vw;
  margin-left: 4vw;
  font-weight: bolder;
  color: black;
  font-size: 25px;
  border-bottom: solid 4px rgba(76, 175, 80, 0.6);        /* 線指定 */
  border-radius: 0px 0px 180px 200px/0px 0px 20px 4px;    /* 角丸指定 */
}
.lists{
  display: flex;
}
.header-btn{
  text-decoration: none;
  margin-right: 3vw;
  color: black;
  font-weight: bold;
  position: relative;
  padding-left: 25px;
}
.header-btn:before {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 0;
  width: 0;
  height: 0;
  border: none;
  border-left: solid 15px transparent;
  border-bottom: solid 15px rgb(119, 195, 223);
}
.header-btn:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: 10px;
  width: 100%;
  border-bottom: solid 3px rgb(119, 195, 223);
}

.lists .header-btn:hover{
  color: rgb(84, 84, 84);
}

/* ここからメイン */
.top-main{
  height: 85vh;
  width: 100vw;
  display: flex;
  align-items: center;
  overflow-y: scroll;
}
.main-message{
  margin-left: 12vw;
  font-size: 40px;
  position: relative;
  color: #ffffff;
  line-height: 1.4;
  -webkit-box-reflect: below -10px -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0) 10%,rgba(0, 0, 0, 0.6));
}