.products{
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  background-image: url("sample1.jpg");
  background-size: 100vw, 100vh;
  height: 100vh;
  width: 100vw;
  animation-name:     my-fade-in;
  animation-duration: 1s;
}

/* メイン部分 */
.products-main-title{
  font-size: 25px;
  font-weight: bolder;
  margin-left: 5vw;
}
.main-contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  height: 75vh;
  margin: 2vh 0;
  overflow-y: scroll;
}
.product{
  height: 30vh;
  padding-top: 3vh;
  margin-left: 4vw;
  font-size: 25px;
  text-align: center;
  color: aliceblue;
  overflow: visible;
  animation-name:     my-fade-in;
  animation-duration: 3s;
}
.product-title{
  text-decoration: none;
  position: relative;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
}
.product-title:before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  width: 150px;
  height: 58px;
  border-radius: 50%;
  border: 5px solid rgba(76, 175, 80, 0.6);
  border-left-color: transparent;
  border-right-color: transparent;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.product .product-title:hover{
  color: rgb(177, 177, 177)
}
.img{
  height: 20vh;
  width: 20vw;
  border: solid 1px black;
}
.product .img {
  transition-duration: 0.2s;
  }
.product .img:hover {
  transform: scale(1.3,1.3);
  transition-duration: 0.2s;
}